*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 3000px;
}

header {
    height: 112px;
    line-height: 112px;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.secondary {
    background-color: deepskyblue;
    box-shadow: 0px 0px 17px 0px;
    transition: all 0.5s ease-in; 
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
}

header nav ul li a {
    text-decoration: none;
    padding-right: 30px;
    font-weight: bold;
    color: #fff; 
    transition: all 0.5s ease-in;
}

header nav {
    float: right;
}

.logo {
    margin-top: 30px;
}

header nav ul li a:hover {
    text-decoration: none;
    color: red;
}

.img1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/slider1.jpg');
    background-size: 100% 100%;
}

.slider, .slider ul, .slider ul li {
    height: 710px;
    width: 100%;
    color: #fff;
    text-align: center;
}

.slider h2 {
    font-weight: bold;
    margin-top: 270px;
}

.slider span {
    color: orange;
}

.slider a {
    padding: 10px 40px;
    margin-right: 10px;
}

.slider a.btn-half {
    background-color: deepskyblue;
    color: #fff;
    transition: 0.5s ease-in;
}

.slider a.btn-half:hover {
    background-color: dodgerblue;
}

.slider a.btn-full {
    background-color: orange;
    color: #fff;
    transition: 0.5s ease-in;
}

.slider a.btn-full:hover {
    background-color: #e67e22;
}

.slider i {
    font-size: 35px;
    margin-right: 10px;
}

.intro-area {
    position: relative;
    padding: 100px 0px;
    text-align: center;
}

.sub-heading {
    position: relative;
    margin-bottom: 75px;
}

.sub-heading:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -3%;
    width: 6%;
    height: 1px;
    background-color: deepskyblue;
    z-index: 1;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
}

.sub-heading:hover:before {
    width: 24%;
    margin-left: -12%;
}

.sub-heading:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -12%;
    width: 24%;
    height: 1px;
    background-color: #e1e1e1;
}

.sub-heading p {
    color: #818181;
    display: inline-block;
    padding: 0px 0px 20px;
    position: relative;
    line-height: 24px;
    letter-spacing: 0.025em;
}

.intro-block {
    position: relative;
    background: #f7f7f7;
    margin: 50px 0px 0px;
    padding: 70px 25px 40px;
    text-align: center;
}

.intro-block:hover, .intro-block.active {
    background: #0aade1
}

.intro-block:hover {
    -webkit-transition: .6s ease;
    -moz-transition: .6s ease;
    -ms-transition: .6s ease;
    -o-transition: .6s ease;
    transition: .6s ease;
}

.intro-block .intro-icon {
    position: absolute;
    top: -31px;
    left: 50%;
    margin-left: -31px;
}

.intro-block .fas {
    width: 63px;
    height: 63px;
    font-size: 30px;
    color: white;
    line-height: 2;
    background: deepskyblue;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 10px #cceef9;
}

.intro-block:hover .fas, .intro-block.active .fas {
    background: white;
    color: deepskyblue;
    box-shadow: 0px 0px 0px 10px deepskyblue;
}

.intro-block h3 {
    text-transform: uppercase;
    font-size: 18px;
    color: deepskyblue;
    font-weight: 700;
    margin-bottom: 15px;
}

.intro-block p {
    color: #505050;
}

.intro-block:hover h3, .intro-block:hover p {
    color: #f6f6f6;
}

.feature-area {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8)), url('../img/slider1.jpg');
    background-position: center;
    background-attachment: fixed;
}

.title h2, p {
    color: white;
}

.single-feature h3 {
    color: white;
}

.single-feature {
    position: relative;
    width: 325px;
    float: left;
    padding: 30px 0;
    text-align: center;
    border-right: 1px solid #65c8e5;
    border-bottom: 1px solid #65c8e5;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

.feature-block::after {
    content: "";
    display: table;
}

.feature-block::after {
    clear: both;
}

.feature-icon {
    display: inline-block;
    margin-bottom: 20px;
}

.single-feature i.fas {
    border: 2px solid #fff;
    padding: 15px;
    border-radius: 50%;
    font-size: 30px;
    background-color: deepskyblue;
    color: #fff;
    width: 64px;
    height: 64px;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

.feature-block:hover .single-feature {
    border-color: white;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

.single-feature:hover .feature-icon .fas {
    border: 2px solid #00a7dd;
    background-color: white;
    color: deepskyblue;
}

.single-feature:nth-of-type(even) {
    border-right: none;
}

.single-feature:nth-last-child(2) {
    border-bottom: none;
}

.single-feature:last-child {
    border-bottom: none;
}

.feature-area {
    padding: 100px 0px;
}

.feature-mockup {
    position: relative;
    bottom: -220px;
}

.title .sub-heading p {
    color: #fff;
}

.more-feature-area .title h2 {
    color: #000;
}

.more-feature-area .title .sub-heading p {
    color: #c0c0c0;
}

.more-feature-area {
    padding: 100px 0px;
}

.feature-list ul {
    list-style-type: none;
}

.feature-list li {
    position: relative;
    margin-bottom: 30px;
    padding-left: 80px;
}

.feature-list li:hover i {
    color: white;
    background-color: #00a7dd;
    -webkit-transition: .5s ease;
    -moz-transition: .5s ease;
    -ms-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}

.feature-icon {
    position: absolute;
    left: 0;
}

.feature-icon i {
    width: 63px;
    height: 63px;
    text-align: center;
    font-size: 30px;
    background-color: white;
    color: deepskyblue;
    border-radius: 50%;
    border: 2px solid deepskyblue;
    line-height: 63px;
}

.feature-details h3 {
    color: deepskyblue;
    font-weight: 700;
    text-transform: uppercase;
}

.feature-details p {
    color: #616161;
    font-weight: 200;
}

.more-feature-area img {
    margin-left: 70px;
}

.testimonials {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0,0.7)), url('../img/slider1.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 120px 0px;
    color: white;
    margin-top: -100px;
}

.testimonials .carousel-indicators {
    bottom: -60px;
}

.testimonials .sub-heading p {
    color: white;
}

.carousel-inner img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 2px solid deepskyblue;
    padding: 5px;
}

.testimonials .carousel-indicators li.active {
    background-color: deepskyblue;
}

.testimonials .carousel-indicators li {
    border: deepskyblue;
}

.team-area {
    padding: 100px 0px;
}

.team-area .sub-heading {
    margin-bottom: 150px;
}

.team-main {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: -50px;
    overflow: hidden;
    min-height: 100px;
    min-width: 100px;
    height: 100px;
    width: 100px;
    border: 10px solid deepskyblue;
    border-radius: 50%;
}

.team-main img {
    width: 100%;
    height: 100%;
    min-height: 100%;
    min-width: 100%;
    border-radius: 50%;
}

.team-block h3 {
    color: deepskyblue;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 70px;
    margin-bottom: 5px;
}

.team-block span {
    color: #6c6c6c;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.025em;
}

.team-block p {
    color: dimgrey;
    font-size: 14px;
    padding: 25px 15px;
    line-height: 24px;
}

.team-desc {
    background-color: #f5f5f5;
}

.team-social-network {
    text-align: center;
    padding-bottom: 25px;
}

.team-social-network a {
    margin: 0px 6px;
}

.team-social-network i {
    height: 40px;
    width: 40px;
    background-color: white;
    text-align: center;
    color: deepskyblue;
    border-radius: 50%;
    border: 2px solid #c4e5f0;
    padding-top: 10px;
}

.team-block:hover .team-desc {
    background-color: deepskyblue;

    color: white;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
}

.team-block:hover .title h3, .team-block:hover .title span {
    color: white;
    transition: .3s ease;
}

.team-block:hover .team-desc p {
    color: #f9f9f9;
    transition: .3s ease;
}

.team-block:hover .team-social-network i {
    background-color: deepskyblue;
    color: white;
    border-color: white;
    transition: .3s ease;
}

.stats {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0,0.7)), url('../img/slider1.jpg');
    padding-top: 150px;
    padding-bottom: 150px;
}

.stats i {
    font-size: 70px;
    color: white;
}

.stats span {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

footer {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0,0.7)), url('../img/slider1.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding-top: 90px;
    padding-bottom: 120px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}

.social-icon a {
    margin: 0px 16px 20px 16px;
    display: inline-block;
}

.social-icon .fab {
    font-size: 30px;
    color: deepskyblue;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    line-height: 2;
    background-color: white;
    transition: .3s;
    border: 10px solid #b1c9d1;
    text-align: center;
}

.social-icon a:hover .fab {
    border: 10px solid white;
}

..white {
    color: white;
}

.white span {
    color: red;
    font-size: 20px;
}

